.container .contact-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container .contact-box .contact-links{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container .contact-box .contact-links .contact-link-box{
   flex: 1;
   margin: .5rem;
   padding: 1rem;
   text-align: center;
   width: 250px;
   border-radius:1rem;
   background-color: var(--container-color);
}
.container .contact-box .contact-links .contact-link-box .icon{
  font-size:1.5rem;
  color: white;
  margin-bottom: 1rem;
}
.container .contact-box .contact-links .contact-link-box .link-name{
   color: white;
   margin-bottom:.3rem;
}
.container .contact-box .contact-links .contact-link-box .link-detail{
  color: white;
  margin-bottom:1.4rem;
}

.container .contact-box .contact-links .contact-link-box a{
  cursor: pointer;
  color: var(--first-color);
  text-decoration: none;
}
.container .contact-box .form{
flex: 1;
padding:1rem;
}

.container .form .input-wrapper {
    position: relative;
    line-height: 14px;
    margin: 1.3rem 0;
    display: inline-block;
    width: 100%;
  }
.container .form .input-wrapper label {
    color: #bbb;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 20px;
    top:-4px;
    padding: 0 2px;
    pointer-events: none;
    background: var(--body-color);
    transition: transform 100ms ease;

  }
.container .form .input-wrapper input {
    font-size: 16px;
    color: #fff;
    outline: none;
    background: transparent;
    border: 2px solid var(--text-color);
    padding:1.3rem ;
    width: 100%;
    position: relative;
  }

  .container .form .input-wrapper textarea {
    font-size: 16px;
    color: #fff;
    outline: none;
    resize: none;
    background: transparent;
    border: 2px solid var(--text-color);
    padding:1.3rem ;
    width: 100%;
    position: relative;
  }
